<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="text-story-style.css" rel="stylesheet"/>
    <title>Text Story</title>

</head>
<body>
    <div id="app">
        <h3>Make your own text custom stories</h3>
        <div class="full">
        <div id="customize">
            <div>
                <textarea v-model="text" placeholder="Place your text here" @input="assertMaxChars()"></textarea>
            </div>
            <div>
                <select v-model="fontSelected">
                    <option v-for="option in fonts" :value="option">
                      {{ option }}
                    </option>
                  </select>  
            </div>
            <div>
                <select v-model="bgSelected">
                    <option v-for="option in background" :value="option">
                      {{ option }}
                    </option>
                  </select>  
            </div>
            <div>
                <select v-model="colorSelected">
                    <option v-for="option in colors" :value="option">
                      {{ option }}
                    </option>
                  </select>  
            </div>
        </div>
        <h5>Preview</h5>
        <div id="preview" :style="{'background':'url('+bgSelected+')'}">
            <div :style="{ 'font-family':fontSelected,'color':colorSelected}" id="textInside">{{text}}</div>
        </div>
        <div style="display: flex;
        justify-content: center;">
        <div class="button modify" @click="uploadImage()">UPLOAD STORY</div>
        <div class="button modify" @click="downloadImage()">DONWLOAD IMAGE</div>
    </div>
        </div>
    </div>
<script src="js/dom_to_image.js"></script>
<script src="js/vue.js"></script>
<script src="js/jquery.js"></script>
<script src="text-story.js"></script>
</body>
</html>